body {
  font-family: "Georgia"
}

seg[ana^="#hist"] {
  background-color: ;
  color: ;
}

seg[ana^="#cross-ref"] {
  background-color: ;
  color: ;
}

seg[ana^="#interp"] {
  background-color: ;
  color: ;
}

seg[ana^="#cogn"] {
  background-color: ;
  color: ;
}

pre {
  font-size: 12px;
  width: 100%;
}

button {
  border-radius: 12px;
  margin: 2px;
}

button:hover {
  border-radius: 12px;
}

@media screen and (min-width: 750px) {
#commands {
  position: fixed;
  z-index: 10;
}

#content {
  padding-left:350px
}
}

@media screen and (max-width: 750px) {
#commands {
  padding-left: 50px;
  z-index: 10;
}

pre {
  font-size: 8px;
}
}
